Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat(scripts): add changelog generation script
  package.json
  scripts/changelog.ts
Due: prettier --write, eslint --fix

feat(changelog): add console log for formatted filename
  scripts/changelog.ts
Due: prettier --write, eslint --fix

build: updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(header.tsx): use package version from json instead of hardcoding
  components/layouts/header.tsx
Due: prettier --write, eslint --fix

build(package.json): add remark-breaks dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(contentlayer.config): update plugins and add remarkuicomponent
  contentlayer.config.ts
Due: prettier --write, eslint --fix

feat(mdx components): add alerticon and alertdescription
  components/mdx/index.tsx
Due: prettier --write, eslint --fix

fix: formatted code
  contents/getting-started/advanced.ja.mdx
  contents/getting-started/basics.ja.mdx
  contents/getting-started/frameworks/create-react-app.ja.mdx
  contents/getting-started/frameworks/nextjs/app-router.ja.mdx
  contents/getting-started/frameworks/nextjs/index.ja.mdx
  contents/getting-started/installation/index.ja.mdx
  contents/getting-started/installation/individually.ja.mdx
  contents/getting-started/installation/minimal.ja.mdx
  contents/styled-system/cli.ja.mdx
  contents/styled-system/color-mode.ja.mdx
  contents/styled-system/configure/customize-config.ja.mdx
  contents/styled-system/global-styles.ja.mdx
  contents/styled-system/loading.ja.mdx
  contents/styled-system/notification.ja.mdx
  contents/styled-system/reset-styles.ja.mdx
  contents/styled-system/responsive-styles.ja.mdx
  contents/styled-system/semantic-tokens.ja.mdx
  contents/styled-system/theming/customize-theme.ja.mdx
  contents/styled-system/theming/default-theme.ja.mdx
  contents/styled-system/theming/dynamic-theme.ja.mdx
  contents/styled-system/theming/index.ja.mdx
  contents/styled-system/ui.ja.mdx
Due: prettier --write

style(mdx): adjust alerticon margin top value
  components/mdx/index.tsx
Due: prettier --write, eslint --fix

style(semantic-tokens.ja.mdx): remove extra whitespace
  contents/styled-system/semantic-tokens.ja.mdx
Due: prettier --write

style(mdx-styles): adjust margin values for headers
  theme/styles/mdx-styles.ts
Due: prettier --write, eslint --fix

style(linked-heading): adjust scroll margin block size
  components/mdx/linked-heading.tsx
Due: prettier --write, eslint --fix

chore: remove unused create-theme files
  contents/styled-system/theming/create-theme.ja.mdx
  contents/styled-system/theming/create-theme.mdx
Due: prettier --write

docs(getting-started): update reference links in notes
  contents/getting-started/advanced.ja.mdx
  contents/getting-started/basics.ja.mdx
  contents/styled-system/global-styles.ja.mdx
  contents/styled-system/reset-styles.ja.mdx
  contents/styled-system/responsive-styles.ja.mdx
  contents/styled-system/semantic-tokens.ja.mdx
  contents/styled-system/theming/customize-theme.ja.mdx
  contents/styled-system/theming/default-theme.ja.mdx
Due: prettier --write

fix: formatted code
  components/mdx/color-palettes.tsx
Due: prettier --write, eslint --fix

feat(mdx components): add member and membercontainer components
  components/mdx/index.tsx
  components/mdx/members.tsx
Due: prettier --write, eslint --fix

docs(contributing.ja.mdx): update contributing guide in japanese
  contents/community/contributing.ja.mdx
  contents/community/index.ja.mdx
  contents/community/team.ja.mdx
Due: prettier --write

refactor(navigation): update toggle state with useEffect
  components/navigation/tree.tsx
Due: prettier --write, eslint --fix

docs(gradient.ja.mdx): update gradient usage documentation
  contents/styled-system/gradient.ja.mdx
Due: prettier --write

docs(text-and-layer-styles): update japanese documentation
  contents/styled-system/text-and-layer-styles.ja.mdx
Due: prettier --write

feat(theme): add other styles and modify existing ones
  theme/index.ts
  theme/styles/index.ts
  theme/styles/layer-styles.ts
  theme/styles/other-style.ts
  theme/styles/text-styles.ts
Due: prettier --write, eslint --fix

ci(.github/workflows): add pnpm-lock.yaml to commit and push
  .github/workflows/release.yml
Due: prettier --write

ci(changesets): c1e12b0e0ba58d57f00e70adaa33a0c091e980d7
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(release): add branch creation and push in release workflow
  .github/workflows/release.yml
Due: prettier --write

ci(workflows): upgrade create-pull-request action to v4
  .github/workflows/release.yml
Due: prettier --write

refactor(tsconfig.json): update contentlayer/generated path
  tsconfig.json
Due: prettier --write

chore(package.json): move remark-breaks to dependencies
  package.json
Due: prettier --write

refactor(contentlayer): update model definition and adjust path handling
  @types/contentlayer.d.ts
  utils/next.ts
Due: prettier --write, eslint --fix

fix: formatted code
  components/media-and-icons/arrow.tsx
  components/media-and-icons/check.tsx
  components/media-and-icons/copy.tsx
  components/media-and-icons/discord.tsx
  components/media-and-icons/external-link.tsx
  components/media-and-icons/github.tsx
  components/media-and-icons/hamburger.tsx
  components/media-and-icons/link.tsx
  components/media-and-icons/list.tsx
  components/media-and-icons/logo.tsx
  components/media-and-icons/magnifying-glass.tsx
  components/media-and-icons/moon.tsx
  components/media-and-icons/star.tsx
  components/media-and-icons/sun.tsx
  components/media-and-icons/translate.tsx
  components/media-and-icons/twitter.tsx
Due: prettier --write, eslint --fix

docs(dynamic-theme.ja.mdx): update code block highlight lines
  contents/styled-system/theming/dynamic-theme.ja.mdx
Due: prettier --write

refactor(components): replace next/link with custom nextlink component
  components/layouts/header.tsx
  components/mdx/link.tsx
  components/navigation/index.ts
  components/navigation/next-link.tsx
  pages/404.page.tsx
  pages/index.page.tsx
Due: prettier --write, eslint --fix

build: updated depndencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: updated dependencies
  pnpm-lock.yaml
Due: none

ci(changesets): 479b3501bdf1242fb869f7cb2ffdcc15fe35dee5
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(sidebar): change overflowy from scroll to auto
  components/layouts/sidebar.tsx
Due: prettier --write, eslint --fix
