Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

build: updated search contents
  i18n/content.en.json
Due: prettier --write

docs: updated RangeSlider description and package name
  contents/components/forms/range-slider/props.mdx
Due: prettier --write

style(layouts): adjust padding in sidebar components
  components/layouts/sidebar.tsx
  components/navigation/table-of-contents.tsx
  layouts/document-layout.tsx
Due: prettier --write, eslint --fix

refactor(components): update tabs with new UI library
  components/navigation/tabs.tsx
Due: prettier --write, eslint --fix

style: added spacing for readability
  components/mdx/linked-heading.tsx
Due: prettier --write, eslint --fix

style: adjusted text color in props card
  components/mdx/props-card.tsx
Due: prettier --write, eslint --fix

feat: add id to PropsCard and improve ToC generation
  components/mdx/props-card.tsx
  contentlayer.config.ts
  scripts/component-props.ts
Due: prettier --write, eslint --fix

refactor(components/navigation): improved scrolling behavior
  components/navigation/table-of-contents.tsx
Due: prettier --write, eslint --fix

docs: translate comments to english
  contents/styled-system/theming/component-styles.mdx
Due: prettier --write

refactor(header): replace Text with Logo component
  components/layouts/header.tsx
  components/media-and-icons/logo.tsx
Due: prettier --write, eslint --fix

style(public/favicon): updated favicon styles and size
  public/favicon.svg
Due: none

feat(logo): add SVG versions and update PNGs
  public/logo-black.png
  public/logo-black.svg
  public/logo-black@2x.png
  public/logo-colored.png
  public/logo-colored@2x.png
  public/logo-white.png
  public/logo-white.svg
  public/logo-white@2x.png
  public/logomark-black.png
  public/logomark-black.svg
  public/logomark-black@2x.png
  public/logomark-white.png
  public/logomark-white.svg
  public/logomark-white@2x.png
Due: none

style: removed extra space in img tags
  README.ja.md
  README.md
Due: prettier --write

refactor(seo): centralized SEO properties
  components/media-and-icons/seo.tsx
  constant/seo.ts
Due: prettier --write, eslint --fix

refactor(seo): updated twitter handle and removed image
  constant/seo.ts
Due: prettier --write, eslint --fix

docs(contents): updated code snippets and notes
  contents/getting-started/frameworks/nextjs/app-router.ja.mdx
  contents/getting-started/frameworks/nextjs/app-router.mdx
  contents/styled-system/theming/switch-themes.ja.mdx
Due: prettier --write

style(forms): updated button border on copy state
  components/forms/copy-button.tsx
  components/layouts/header.tsx
  components/mdx/package-managers.tsx
Due: prettier --write, eslint --fix

style: updated link color to blue
  contents/getting-started/basics.ja.mdx
  contents/getting-started/basics.mdx
  contents/styled-system/semantic-tokens.ja.mdx
  contents/styled-system/semantic-tokens.mdx
  contents/styled-system/theming/customize-theme.ja.mdx
  contents/styled-system/theming/customize-theme.mdx
  contents/styled-system/theming/default-theme.ja.mdx
  contents/styled-system/theming/default-theme.mdx
Due: prettier --write

build: added @clack-prompts
  @types/@clack-prompts.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(scroll-shadow): added scroll shadow component
  components/data-display/index.ts
  components/data-display/scroll-shadow.tsx
  components/layouts/sidebar.tsx
  components/navigation/table-of-contents.tsx
Due: prettier --write, eslint --fix

feat(link-card): added ripple effect on card click
  components/navigation/link-card.tsx
Due: prettier --write, eslint --fix

refactor(scripts): convert functions to runners
  scripts/component-props.ts
Due: prettier --write, eslint --fix

refactor(scripts): optimise recursive path retrieval
  scripts/search-content.ts
Due: prettier --write, eslint --fix

build: updated theme
  contents/components/data-display/native-table/theming.ja.mdx
  contents/components/data-display/native-table/theming.mdx
  contents/components/data-display/scroll-area/theming.ja.mdx
  contents/components/data-display/scroll-area/theming.mdx
  contents/components/disclosure/accordion/theming.ja.mdx
  contents/components/disclosure/accordion/theming.mdx
  contents/components/forms/button/theming.ja.mdx
  contents/components/forms/button/theming.mdx
  contents/components/forms/input/theming.ja.mdx
  contents/components/forms/input/theming.mdx
  contents/components/forms/native-select/theming.ja.mdx
  contents/components/forms/native-select/theming.mdx
  contents/components/forms/number-input/theming.ja.mdx
  contents/components/forms/number-input/theming.mdx
  contents/components/navigation/pagination/theming.ja.mdx
  contents/components/navigation/pagination/theming.mdx
  contents/components/overlay/menu/theming.ja.mdx
  contents/components/overlay/menu/theming.mdx
Due: prettier --write

refactor(scripts): updated theme-component structure
  scripts/theme-component.ts
Due: prettier --write, eslint --fix

refactor(scripts): streamline changelog script functions
  scripts/changelog.ts
Due: prettier --write, eslint --fix

refactor: updated SectionProps type reference
  components/layouts/section.tsx
Due: prettier --write, eslint --fix

build: updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(scripts): simplify translateContent function
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

chore: updated log message for changelog generation
  scripts/changelog.ts
Due: prettier --write, eslint --fix

build: replace @yamada-ui/reaact version
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(scripts): added style-props generation script
  package.json
  scripts/style-props.ts
Due: prettier --write, eslint --fix

refactor(style-props): moved CONTENT_FOOTER in doc generation
  scripts/style-props.ts
Due: prettier --write, eslint --fix

build: updated prop docs
  contents/styled-system/style-props.ja.mdx
  contents/styled-system/style-props.mdx
Due: prettier --write

build: updated style props
  contents/styled-system/style-props.ja.mdx
  contents/styled-system/style-props.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
