Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

build: added @octokit/rest
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add changelog generation workflow
  .github/workflows/changelog.yml
Due: prettier --write

ci: added build steps for theme, props, search
  .github/workflows/release.yml
Due: prettier --write

feat(theme): added GitHub API integration for themes
  scripts/theme-component.ts
Due: prettier --write, eslint --fix

refactor(scripts): update component-props script
  scripts/component-props.ts
Due: prettier --write, eslint --fix

refactor(scripts): standardized prop string handling
  scripts/component-props.ts
Due: prettier --write, eslint --fix

build: updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

perf(next.config.js): enabled font optimization, disabled source maps
  next.config.js
Due: prettier --write, eslint --fix

ci(changelog): optimized Build and Commit steps
  .github/workflows/changelog.yml
Due: prettier --write

refactor: simplify data resolve function
  contentlayer.config.ts
Due: prettier --write, eslint --fix

build: updated search contents
  i18n/content.en.json
  i18n/content.ja.json
Due: prettier --write

refactor(scripts): removed console.log for undefined titles
  scripts/search-content.ts
Due: prettier --write, eslint --fix

build: update prebuild script with new tasks
  package.json
Due: prettier --write

feat(utils): added object utility functions
  utils/object.ts
Due: prettier --write, eslint --fix

refactor: simplify document type definitions
  @types/contentlayer.d.ts
  components/navigation/breadcrumb.tsx
  components/navigation/link-card.tsx
  components/navigation/link-cards.tsx
  components/navigation/pagination.tsx
  components/navigation/tabs.tsx
  components/navigation/tree.tsx
  utils/contentlayer.ts
Due: prettier --write, eslint --fix

refactor(utils): simplify getStaticDocumentPaths function
  utils/next.ts
Due: prettier --write, eslint --fix

refactor(contexts): updated page context structure
  contexts/page-context.tsx
Due: prettier --write, eslint --fix

refactor: streamline PageProvider props usage
  pages/404.page.tsx
  pages/changelog/[[...slug]].page.tsx
  pages/community/[[...slug]].page.tsx
  pages/components/[[...slug]].page.tsx
  pages/figma/[[...slug]].page.tsx
  pages/getting-started/[[...slug]].page.tsx
  pages/hooks/[[...slug]].page.tsx
  pages/index.page.tsx
  pages/styled-system/[[...slug]].page.tsx
Due: prettier --write, eslint --fix

feat: added chalk for console output styling
  scripts/changelog.ts
  scripts/component-props.ts
  scripts/search-content.ts
  scripts/theme-component.ts
Due: prettier --write, eslint --fix

docs: improved tip formatting in contributing guidelines
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

docs: updated issue template names
  .github/ISSUE_TEMPLATE/documentation_request.ja.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
Due: prettier --write

docs: updated Japanese issue template wording
  .github/ISSUE_TEMPLATE/documentation_request.ja.yml
Due: prettier --write

ci(changesets): version packages
  contents/components/data-display/paging-table/theming.ja.mdx
  contents/components/data-display/paging-table/theming.mdx
  contents/components/data-display/table/theming.ja.mdx
  contents/components/data-display/table/theming.mdx
  contents/components/forms/autocomplete/theming.ja.mdx
  contents/components/forms/autocomplete/theming.mdx
  contents/components/forms/date-picker/theming.ja.mdx
  contents/components/forms/date-picker/theming.mdx
  contents/components/forms/file-input/theming.ja.mdx
  contents/components/forms/file-input/theming.mdx
  contents/components/forms/input/theming.ja.mdx
  contents/components/forms/input/theming.mdx
  contents/components/forms/month-picker/theming.ja.mdx
  contents/components/forms/month-picker/theming.mdx
  contents/components/forms/multi-autocomplete/theming.ja.mdx
  contents/components/forms/multi-autocomplete/theming.mdx
  contents/components/forms/multi-select/theming.ja.mdx
  contents/components/forms/multi-select/theming.mdx
  contents/components/forms/native-select/theming.ja.mdx
  contents/components/forms/native-select/theming.mdx
  contents/components/forms/number-input/theming.ja.mdx
  contents/components/forms/number-input/theming.mdx
  contents/components/forms/pin-input/theming.ja.mdx
  contents/components/forms/pin-input/theming.mdx
  contents/components/forms/radio/theming.ja.mdx
  contents/components/forms/radio/theming.mdx
  contents/components/forms/range-slider/theming.ja.mdx
  contents/components/forms/range-slider/theming.mdx
  contents/components/forms/select/theming.ja.mdx
  contents/components/forms/select/theming.mdx
  contents/components/forms/textarea/theming.ja.mdx
  contents/components/forms/textarea/theming.mdx
  contents/components/overlay/menu/props.ja.mdx
  contents/components/overlay/menu/props.mdx
  contents/components/overlay/menu/theming.ja.mdx
  contents/components/overlay/menu/theming.mdx
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: updated component inheritance notes
  contents/components/data-display/paging-table/theming.ja.mdx
  contents/components/data-display/paging-table/theming.mdx
  contents/components/data-display/table/theming.ja.mdx
  contents/components/data-display/table/theming.mdx
  contents/components/forms/autocomplete/theming.ja.mdx
  contents/components/forms/autocomplete/theming.mdx
  contents/components/forms/date-picker/theming.ja.mdx
  contents/components/forms/date-picker/theming.mdx
  contents/components/forms/file-input/theming.ja.mdx
  contents/components/forms/file-input/theming.mdx
  contents/components/forms/month-picker/theming.ja.mdx
  contents/components/forms/month-picker/theming.mdx
  contents/components/forms/multi-autocomplete/theming.ja.mdx
  contents/components/forms/multi-autocomplete/theming.mdx
  contents/components/forms/multi-select/theming.ja.mdx
  contents/components/forms/multi-select/theming.mdx
  contents/components/forms/native-select/theming.ja.mdx
  contents/components/forms/native-select/theming.mdx
  contents/components/forms/number-input/theming.ja.mdx
  contents/components/forms/number-input/theming.mdx
  contents/components/forms/pin-input/theming.ja.mdx
  contents/components/forms/pin-input/theming.mdx
  contents/components/forms/range-slider/theming.ja.mdx
  contents/components/forms/range-slider/theming.mdx
  contents/components/forms/select/theming.ja.mdx
  contents/components/forms/select/theming.mdx
  contents/components/forms/textarea/theming.ja.mdx
  contents/components/forms/textarea/theming.mdx
Due: prettier --write

chore: added GITHUB_TOKEN to .env.example
  .env.example
Due: none

refactor(scripts): updated options structure for clarity
  scripts/theme-component.ts
Due: prettier --write, eslint --fix

refactor(scripts): loaded env variables with dotenv
  scripts/component-props.ts
Due: prettier --write, eslint --fix

refactor(scripts): updated changelog script logic
  scripts/changelog.ts
Due: prettier --write, eslint --fix

ci: removed changelog workflow
  .github/workflows/changelog.yml
  .github/workflows/release.yml
Due: prettier --write

chore: updated button labels in ui.en.json
  i18n/ui.en.json
Due: prettier --write

fix(navigation): removed prefetch from Link component
  components/navigation/tree.tsx
Due: prettier --write, eslint --fix

refactor(theme): updated color schemes and styles
  theme/components/alert.ts
  theme/index.ts
  theme/semantics.ts
  theme/tokens/shadows.ts
Due: prettier --write, eslint --fix

build: updated search data
  i18n/content.en.json
  i18n/content.ja.json
Due: prettier --write

refactor: updated doc
  contents/components/data-display/badge/index.ja.mdx
  contents/components/data-display/badge/index.mdx
  contents/components/data-display/tag/index.ja.mdx
  contents/components/data-display/tag/index.mdx
  contents/components/forms/button/index.ja.mdx
  contents/components/forms/button/index.mdx
  contents/getting-started/basics.ja.mdx
  contents/getting-started/basics.mdx
  contents/styled-system/semantic-tokens.ja.mdx
  contents/styled-system/semantic-tokens.mdx
  contents/styled-system/theming/customize-theme.ja.mdx
  contents/styled-system/theming/customize-theme.mdx
  contents/styled-system/theming/default-theme.ja.mdx
  contents/styled-system/theming/default-theme.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
