Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs: updated card component documentation
  contents/components/data-display/card/index.ja.mdx
  contents/components/data-display/card/index.mdx
  contents/components/data-display/card/props.mdx
Due: prettier --write

docs: updated reorder component usage docs
  contents/components/data-display/reorder/index.ja.mdx
  contents/components/data-display/reorder/index.mdx
  contents/components/data-display/reorder/props.mdx
Due: prettier --write

refactor(contentlayer.config): removed code block before toc generation
  contentlayer.config.ts
Due: prettier --write, eslint --fix

build: updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(mdx): added markdown components to scope
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix

docs(components/markdown): update Japanese documentation
  contents/components/data-display/markdown/index.ja.mdx
  contents/components/data-display/markdown/index.mdx
  contents/components/data-display/markdown/props.mdx
Due: prettier --write

docs: updated overlay component documentation
  contents/components/overlay/dialog/index.ja.mdx
  contents/components/overlay/dialog/index.mdx
  contents/components/overlay/dialog/props.mdx
  contents/components/overlay/drawer/index.ja.mdx
  contents/components/overlay/drawer/index.mdx
  contents/components/overlay/drawer/props.mdx
  contents/components/overlay/index.mdx
  contents/components/overlay/menu/index.mdx
  contents/components/overlay/menu/props.mdx
  contents/components/overlay/modal/index.ja.mdx
  contents/components/overlay/modal/index.mdx
  contents/components/overlay/modal/props.mdx
  contents/components/overlay/popover/index.mdx
  contents/components/overlay/popover/props.mdx
  contents/components/overlay/tooltip/index.mdx
  contents/components/overlay/tooltip/props.mdx
Due: prettier --write

docs(scroll-area): update usage and props documentation
  contents/components/data-display/scroll-area/index.ja.mdx
  contents/components/data-display/scroll-area/index.mdx
  contents/components/data-display/scroll-area/props.mdx
Due: prettier --write

feat(mdx): added navigation icons to code block
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix

docs(carousel): update usage documentation
  contents/components/data-display/carousel/index.ja.mdx
  contents/components/data-display/carousel/index.mdx
  contents/components/data-display/carousel/props.mdx
Due: prettier --write

feat: added Japanese locale support to editable code block
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix

feat: added dayjs package
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: updated calendar component documentation
  contents/components/data-display/calendar/index.ja.mdx
  contents/components/data-display/calendar/index.mdx
  contents/components/data-display/calendar/props.mdx
Due: prettier --write

docs: added install warning for calendar component
  contents/components/data-display/calendar/index.ja.mdx
  contents/components/data-display/calendar/index.mdx
Due: prettier --write

docs: updated carousel import path
  contents/components/data-display/carousel/index.ja.mdx
  contents/components/data-display/carousel/index.mdx
Due: prettier --write

ci(changesets): 37f99a483703cfa43e434e56a061b5ce5e1e006c
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(config): corrected .env error message
  contentlayer.config.ts
Due: prettier --write, eslint --fix

refactor(next.config): removed experimental esmExternals
  next.config.mjs
Due: none

refactor(components): organize scope imports and variables
  components/mdx/editable-code-block.tsx
  components/mdx/index.tsx
Due: prettier --write, eslint --fix

build: added fontawesome npm registry config
  .npmrc
Due: none

docs(components/data-display/native-table): update usage examples
  contents/components/data-display/native-table/index.ja.mdx
  contents/components/data-display/native-table/index.mdx
  contents/components/data-display/native-table/props.mdx
Due: prettier --write

chore: removed fontawesome npm config
  .npmrc
Due: none

docs: wrapped table examples in VStack
  contents/components/data-display/native-table/index.ja.mdx
  contents/components/data-display/native-table/index.mdx
Due: prettier --write

refactor(components): extract TextWithCodeOrLink component
  components/mdx/select-package-managers.tsx
  components/typography/text-with-code.tsx
  layouts/document-layout.tsx
Due: prettier --write, eslint --fix

docs: updated component links in docs
  contents/getting-started/frameworks/create-react-app.ja.mdx
  contents/getting-started/frameworks/create-react-app.mdx
  contents/getting-started/frameworks/nextjs/app-router.ja.mdx
  contents/getting-started/frameworks/nextjs/app-router.mdx
  contents/getting-started/frameworks/nextjs/index.ja.mdx
  contents/getting-started/frameworks/nextjs/index.mdx
  contents/getting-started/installation/index.ja.mdx
  contents/getting-started/installation/index.mdx
Due: prettier --write

docs: fixed markdown link formatting in docs
  contents/getting-started/frameworks/create-react-app.ja.mdx
  contents/getting-started/frameworks/create-react-app.mdx
  contents/getting-started/frameworks/nextjs/app-router.ja.mdx
  contents/getting-started/frameworks/nextjs/app-router.mdx
  contents/getting-started/frameworks/nextjs/index.ja.mdx
  contents/getting-started/frameworks/nextjs/index.mdx
  contents/getting-started/installation/index.ja.mdx
  contents/getting-started/installation/index.mdx
Due: prettier --write

docs: update docs with internal library usage
  contents/components/data-display/calendar/index.ja.mdx
  contents/components/data-display/calendar/index.mdx
  contents/components/data-display/carousel/index.ja.mdx
  contents/components/data-display/carousel/index.mdx
  contents/components/data-display/carousel/props.mdx
  contents/components/data-display/markdown/index.ja.mdx
  contents/components/data-display/markdown/index.mdx
  contents/components/data-display/markdown/props.mdx
Due: prettier --write

docs: updated wording for default settings
  contents/components/data-display/calendar/index.ja.mdx
  contents/components/data-display/calendar/index.mdx
  contents/components/data-display/calendar/props.mdx
  contents/components/data-display/carousel/index.ja.mdx
  contents/components/data-display/carousel/index.mdx
  contents/components/data-display/carousel/props.mdx
  contents/components/disclosure/tabs/index.ja.mdx
  contents/components/disclosure/tabs/index.mdx
Due: prettier --write

docs(components): update table component description
  contents/components/data-display/table/index.ja.mdx
  contents/components/data-display/table/index.mdx
  contents/components/data-display/table/props.mdx
Due: prettier --write

docs: added link to Modal in Dialog docs
  contents/components/overlay/dialog/index.ja.mdx
  contents/components/overlay/dialog/index.mdx
Due: prettier --write

feat(editable-code-block): added faker to utils scope
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix
