Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: updated reference line in charts
  contents/components/feedback/area-chart/index.ja.mdx
  contents/components/feedback/area-chart/index.mdx
Due: prettier --write

docs(components/feedback/line-chart): added `LineChart` usage guide
  contents/components/feedback/line-chart/index.ja.mdx
  contents/components/feedback/line-chart/index.mdx
Due: prettier --write

docs: corrected text in radar-chart docs
  contents/components/feedback/radar-chart/index.ja.mdx
  contents/components/feedback/radar-chart/index.mdx
Due: prettier --write

docs: updated RadarChart description
  contents/components/feedback/radar-chart/index.ja.mdx
  contents/components/feedback/radar-chart/index.mdx
Due: prettier --write

docs: updated AreaChart descriptions
  contents/components/feedback/area-chart/index.ja.mdx
  contents/components/feedback/area-chart/index.mdx
Due: prettier --write

docs: updated linechart description
  contents/components/feedback/line-chart/index.ja.mdx
  contents/components/feedback/line-chart/index.mdx
Due: prettier --write

refactor: updated prop type to RadarProps
  contents/components/feedback/radar-chart/index.ja.mdx
  contents/components/feedback/radar-chart/index.mdx
Due: prettier --write

refactor(components): updated prop types to AreaProps
  contents/components/feedback/area-chart/index.ja.mdx
  contents/components/feedback/area-chart/index.mdx
Due: prettier --write

refactor: change BarProps to LineProps in charts
  contents/components/feedback/line-chart/index.ja.mdx
  contents/components/feedback/line-chart/index.mdx
Due: prettier --write

docs: updated BarChart component description
  contents/components/feedback/bar-chart/index.ja.mdx
  contents/components/feedback/bar-chart/index.mdx
Due: prettier --write

feat(chart): added dashed line style to area chart
  contents/components/feedback/area-chart/index.ja.mdx
  contents/components/feedback/area-chart/index.mdx
Due: prettier --write

docs: updated average line in charts
  contents/components/feedback/line-chart/index.ja.mdx
  contents/components/feedback/line-chart/index.mdx
Due: prettier --write

docs: added dashed line chart examples
  contents/components/feedback/line-chart/index.ja.mdx
  contents/components/feedback/line-chart/index.mdx
Due: prettier --write

docs: updated line-chart data for new characters
  contents/components/feedback/line-chart/index.ja.mdx
  contents/components/feedback/line-chart/index.mdx
Due: prettier --write

build: updated @yamada-ui/react version
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: updated chartProps.syncId in examples
  contents/components/feedback/area-chart/index.ja.mdx
  contents/components/feedback/area-chart/index.mdx
  contents/components/feedback/bar-chart/index.ja.mdx
  contents/components/feedback/bar-chart/index.mdx
  contents/components/feedback/line-chart/index.ja.mdx
  contents/components/feedback/line-chart/index.mdx
Due: prettier --write

docs: added planned component docs in English and Japanese
  contents/components/data-display/split-panel/index.ja.mdx
  contents/components/data-display/split-panel/index.mdx
  contents/components/disclosure/tree/index.ja.mdx
  contents/components/disclosure/tree/index.mdx
  contents/components/forms/phone-input/index.ja.mdx
  contents/components/forms/phone-input/index.mdx
  contents/components/other/swipeable/index.ja.mdx
  contents/components/other/swipeable/index.mdx
  contents/components/overlay/context-menu/index.ja.mdx
  contents/components/overlay/context-menu/index.mdx
  contents/components/overlay/tour/index.ja.mdx
  contents/components/overlay/tour/index.mdx
Due: prettier --write

docs(getting-started/hono): added hono ja document
  contents/getting-started/frameworks/hono.ja.mdx
Due: prettier --write

chore: removed .theme and .docs from .gitignore
  .gitignore
Due: none

docs(getting-started/hono): add documentation for running react
  contents/getting-started/frameworks/hono.ja.mdx
Due: prettier --write

docs(getting-started/hono): added hono en document
  contents/getting-started/frameworks/hono.mdx
Due: prettier --write

docs(getting-started/hono): fix documentation
  contents/getting-started/frameworks/hono.ja.mdx
  contents/getting-started/frameworks/hono.mdx
Due: prettier --write

docs: fixed header level in vite.ja.mdx
  contents/getting-started/frameworks/vite.ja.mdx
Due: prettier --write

refactor(cards): update card UI and responsiveness
  pages/examples/cards/AccountCard.tsx
  pages/examples/cards/BookmarkCard.tsx
  pages/examples/cards/CookieSettingsCard.tsx
  pages/examples/cards/GitHubCard.tsx
  pages/examples/cards/ImageCard.tsx
  pages/examples/cards/NotificationCard.tsx
  pages/examples/cards/OverflowImageCard.tsx
  pages/examples/cards/PaymentMethodCard.tsx
  pages/examples/cards/PickDateCard.tsx
  pages/examples/cards/ReportIssueCard.tsx
  pages/examples/cards/ShareDocumentCard.tsx
  pages/examples/cards/SocialMediaCard.tsx
  pages/examples/cards/StatCard.tsx
  pages/examples/cards/TeamMembersCard.tsx
  pages/examples/cards/UserCard.tsx
  pages/examples/cards/index.tsx
Due: prettier --write, eslint --fix

feat(playground): add editor, header, and footer components
  pages/examples/playground/editor/index.tsx
  pages/examples/playground/editor/menu.tsx
  pages/examples/playground/editor/model.tsx
  pages/examples/playground/editor/parameter.tsx
  pages/examples/playground/editor/prompt.tsx
  pages/examples/playground/editor/switch-mode/complete-icon.tsx
  pages/examples/playground/editor/switch-mode/edit-icon.tsx
  pages/examples/playground/editor/switch-mode/index.tsx
  pages/examples/playground/editor/switch-mode/insert-icon.tsx
  pages/examples/playground/footer/index.tsx
  pages/examples/playground/header/control-button.tsx
  pages/examples/playground/header/delete-dialog.tsx
  pages/examples/playground/header/filter-modal.tsx
  pages/examples/playground/header/index.tsx
  pages/examples/playground/header/preset.tsx
  pages/examples/playground/header/save-modal.tsx
  pages/examples/playground/header/share-button.tsx
  pages/examples/playground/header/view-code-modal.tsx
  pages/examples/playground/index.tsx
Due: prettier --write, eslint --fix

style(header): changed heading size to normal
  pages/examples/playground/header/index.tsx
  theme/components/heading.ts
Due: prettier --write, eslint --fix

feat(components): added Heading to theme exports
  theme/components/index.ts
Due: prettier --write, eslint --fix

feat(mail): sidebar
  pages/examples/mail/MailHeader.tsx
  pages/examples/mail/MailSidebar.tsx
  pages/examples/mail/data.ts
  pages/examples/mail/index.tsx
Due: prettier --write, eslint --fix

refactor: deduplicate getStaticProps and getStaticPaths
  pages/404.page.tsx
  pages/changelog/[[...slug]].page.tsx
  pages/community/[[...slug]].page.tsx
  pages/components/[[...slug]].page.tsx
  pages/figma/[[...slug]].page.tsx
  pages/getting-started/[[...slug]].page.tsx
  pages/hooks/[[...slug]].page.tsx
  pages/index.page.tsx
  pages/styled-system/[[...slug]].page.tsx
Due: prettier --write, eslint --fix

refactor: reorganize getStaticProps and getStaticPaths
  pages/examples/[slug].page.tsx
Due: prettier --write, eslint --fix

feat(mail): inbox, detail
  pages/examples/mail/MailDetail.tsx
  pages/examples/mail/MailInbox.tsx
  pages/examples/mail/date.ts
  pages/examples/mail/index.tsx
Due: prettier --write, eslint --fix

feat(mail): refactor
  pages/examples/mail/MailDetail.tsx
  pages/examples/mail/MailInbox.tsx
  pages/examples/mail/MailSidebar.tsx
  pages/examples/mail/index.tsx
Due: prettier --write, eslint --fix

feat(mail): add tooltip
  pages/examples/mail/MailSidebar.tsx
Due: prettier --write, eslint --fix

fix(mail): remove unused methods
  pages/examples/mail/MailSidebar.tsx
  pages/examples/mail/index.tsx
Due: prettier --write, eslint --fix

fix(mail): not use &&
  pages/examples/mail/MailHeader.tsx
  pages/examples/mail/MailInbox.tsx
  pages/examples/mail/MailSidebar.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
