Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore(use-snacks): fix description in hook
  contents/hooks/use-snacks.mdx
Due: prettier --write

ci: added test workflow and script
  .github/workflows/test.yml
  scripts/test.ts
Due: prettier --write, eslint --fix

feat(scripts): added maintainers & outside collaborators
  scripts/test.ts
Due: prettier --write, eslint --fix

refactor(scripts): updated collaborator retrieval
  scripts/test.ts
Due: prettier --write, eslint --fix

feat: added collaborator push permission check
  scripts/test.ts
Due: prettier --write, eslint --fix

refactor: updated octokit member listing method
  scripts/test.ts
Due: prettier --write, eslint --fix

ci: removed test workflow and scripts
  .github/workflows/test.yml
  scripts/observe-issues.ts
  scripts/observe-pull-requests.ts
  scripts/test.ts
Due: prettier --write, eslint --fix

chore: updated Hirotomo's GitHub URL
  constant/sns.ts
Due: prettier --write, eslint --fix

fix: props of drawer
  contents/components/overlay/drawer/index.ja.mdx
  contents/components/overlay/drawer/index.mdx
  contents/components/overlay/drawer/props.ja.mdx
  contents/components/overlay/drawer/props.mdx
Due: prettier --write

build(lintstagedrc): migrated to .mjs with dynamic eslint
  .lintstagedrc
  .lintstagedrc.mjs
Due: none

refactor(scripts): optimized issue filtering logic
  scripts/observe-issues.ts
Due: prettier --write, eslint --fix

feat(textarea): add resizeRef documentation
  contents/components/forms/textarea/index.ja.mdx
  contents/components/forms/textarea/index.mdx
Due: prettier --write

docs: updated textarea documentation
  contents/components/forms/textarea/index.ja.mdx
  contents/components/forms/textarea/index.mdx
Due: prettier --write

build(package.json): updated dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(scripts): removed release label automation
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --fix

docs(textarea): remove autosize in textarea resizeRef documentation
  contents/components/forms/textarea/index.ja.mdx
  contents/components/forms/textarea/index.mdx
Due: prettier --write

docs: add test document
  TEST.ja.md
  TEST.md
Due: prettier --write

style(mdx): updated avatar size in members component
  components/mdx/members.tsx
Due: prettier --write, eslint --fix

feat: add AVAP sponsor logo svg
  public/sponsors/avap.svg
Due: none

feat(mdx): added sponsors component and integration
  components/mdx/index.tsx
  components/mdx/sponsors.tsx
Due: prettier --write, eslint --fix

docs: added sponsor tiers to community page
  contents/community/team.ja.mdx
  contents/community/team.mdx
Due: prettier --write

refactor(header): replaced Logo with Image for theming
  components/layouts/header.tsx
Due: prettier --write, eslint --fix

docs: add link for test tips
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

docs: edit link for test tips
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

refactor(components): centralize sponsors data
  components/mdx/sponsors.tsx
Due: prettier --write, eslint --fix

refactor(components): simplify Sponsors component usage
  contents/community/team.ja.mdx
  contents/community/team.mdx
Due: prettier --write

feat(media-and-icons): added open collective, patreon icons
  components/media-and-icons/index.ts
  components/media-and-icons/open-collective.tsx
  components/media-and-icons/patreon.tsx
Due: prettier --write, eslint --fix

feat(sponsors): added sponsors constant and import
  constant/index.ts
  constant/sponsors.ts
Due: prettier --write, eslint --fix

feat(support): added support section in UI
  i18n/ui.en.json
  i18n/ui.ja.json
  pages/index.page.tsx
Due: prettier --write, eslint --fix

style: changed headings to white color
  pages/index.page.tsx
Due: prettier --write, eslint --fix

docs: edit link for test tips
  CONTRIBUTING.ja.md
Due: prettier --write
