Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs: updated table documentation wording
  contents/components/data-display/table/index.ja.mdx
  contents/components/data-display/table/index.mdx
Due: prettier --write

feat(icons): added chevron left and right icons
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix

docs: update paging-table documentation
  contents/components/data-display/paging-table/index.ja.mdx
  contents/components/data-display/paging-table/index.mdx
  contents/components/data-display/paging-table/props.mdx
Due: prettier --write

build: updated dependencies
  pnpm-lock.yaml
Due: none

build: updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: enabled pre-post scripts in npm config
  .npmrc
Due: none

docs: removed unnecessary code fences
  contents/components/data-display/native-table/props.mdx
  contents/getting-started/installation/index.mdx
Due: prettier --write

docs: updated installation documentation
  contents/getting-started/installation/individually.ja.mdx
  contents/getting-started/installation/individually.mdx
  contents/getting-started/installation/minimal.ja.mdx
  contents/getting-started/installation/minimal.mdx
Due: prettier --write

docs: updated dialog and drawer documentation
  contents/components/overlay/dialog/index.ja.mdx
  contents/components/overlay/dialog/index.mdx
  contents/components/overlay/drawer/index.ja.mdx
  contents/components/overlay/drawer/index.mdx
Due: prettier --write

style(code-block): improved horizontal scrolling
  components/mdx/code-block.tsx
Due: prettier --write, eslint --fix

🔄 Synced local 'contents/changelog/' with remote '.changelog/'
  contents/changelog/v0.8.25.mdx
Due: prettier --write

ci(changesets): c6aa6f7fd0297ab913fdaea16dc5436a1f1257e8
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(changesets): 0f7141430ed7546193fff119c727768fd1c3a140
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: corrected markdown code blocks
  contents/getting-started/installation/individually.mdx
  contents/getting-started/installation/minimal.mdx
Due: prettier --write

feat(icons): added envelope, sun, and moon icons
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix

docs: updated button component documentation
  contents/components/forms/button/index.ja.mdx
  contents/components/forms/button/index.mdx
  contents/components/forms/icon-button/index.ja.mdx
  contents/components/forms/icon-button/index.mdx
  contents/components/forms/icon-button/props.ja.mdx
  contents/components/forms/icon-button/props.mdx
Due: prettier --write

feat: added react-hook-form package
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(mdx): added phone icon and form hooks
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix

docs(input): update component documentation
  contents/components/forms/input/index.ja.mdx
  contents/components/forms/input/index.mdx
Due: prettier --write

ci(changesets): 65f9dc15f3984e9e1747729fddd9e762c459d225
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: removed auto assign workflow
  .github/workflows/assign.yml
Due: prettier --write

docs: updated NumberInput documentation
  contents/components/forms/number-input/index.ja.mdx
  contents/components/forms/number-input/index.mdx
Due: prettier --write

docs: updated PinInput component usage guide
  contents/components/forms/pin-input/index.ja.mdx
  contents/components/forms/pin-input/index.mdx
Due: prettier --write

docs: update pin-input field prop to items
  contents/components/forms/pin-input/index.ja.mdx
  contents/components/forms/pin-input/index.mdx
Due: prettier --write

docs: updated component documentation
  contents/components/data-display/carousel/index.ja.mdx
  contents/components/data-display/carousel/index.mdx
  contents/components/data-display/list/index.ja.mdx
  contents/components/data-display/markdown/index.ja.mdx
  contents/components/data-display/markdown/index.mdx
  contents/components/forms/input/index.ja.mdx
  contents/components/forms/input/index.mdx
  contents/components/forms/number-input/index.ja.mdx
  contents/components/forms/pin-input/index.ja.mdx
  contents/components/forms/pin-input/index.mdx
Due: prettier --write

docs: updated Textarea component docs
  contents/components/forms/textarea/index.ja.mdx
  contents/components/forms/textarea/props.mdx
Due: prettier --write

docs(components/forms/textarea): update and add examples
  contents/components/forms/textarea/index.ja.mdx
  contents/components/forms/textarea/index.mdx
Due: prettier --write

docs: updated FormControl documentation
  contents/components/forms/form-control/index.ja.mdx
  contents/components/forms/form-control/index.mdx
Due: prettier --write

feat(icons): added faWaveSquare icon to editable code block
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix

docs: updated slider component documentation
  contents/components/forms/slider/index.ja.mdx
  contents/components/forms/slider/index.mdx
  contents/components/forms/slider/props.mdx
Due: prettier --write

docs: updated slider component docs
  contents/components/forms/slider/index.ja.mdx
  contents/components/forms/slider/index.mdx
Due: prettier --write

docs: update RangeSlider component description
  contents/components/forms/range-slider/index.ja.mdx
Due: prettier --write

feat(editable-code-block): added new fontAwesome icons
  components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --fix
