Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

ci(changesets): ff63e4e0e3d0ffeb8912a95c6af875b7f5939b4a
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: updated calendar documentation wording
  contents/components/data-display/calendar/index.ja.mdx
  contents/components/data-display/calendar/index.mdx
Due: prettier --write

docs(date-picker): update component documentation
  contents/components/forms/date-picker/index.ja.mdx
  contents/components/forms/date-picker/index.mdx
  contents/components/forms/date-picker/props.mdx
Due: prettier --write

docs: updated MonthPicker documentation
  contents/components/forms/month-picker/index.ja.mdx
  contents/components/forms/month-picker/index.mdx
  contents/components/forms/month-picker/props.mdx
Due: prettier --write

ci: updated actions and removed obsolete steps
  .github/composite-actions/install/action.yml
  .github/workflows/release.yml
Due: prettier --write

refactor(scripts): updated changelog generation logic
  scripts/changelog.ts
Due: prettier --write, eslint --fix

refactor: renamed getVersion to getVersions
  scripts/changelog.ts
Due: prettier --write, eslint --fix

chore(scripts): updated console log messages in changelog
  scripts/changelog.ts
Due: prettier --write, eslint --fix

chore: added .theme and .docs to .gitignore
  .gitignore
Due: none

refactor: extracted Locale type for clarity
  scripts/changelog.ts
Due: prettier --write, eslint --fix

docs: updated component styling documentation
  contents/styled-system/theming/component-style.ja.mdx
  contents/styled-system/theming/component-style.mdx
Due: prettier --write

feat: added script for theme component generation
  scripts/theme-component.ts
Due: prettier --write, eslint --fix

style(.eslintrc): reorder and add linting rules
  .eslintrc
Due: prettier --write

style(.prettierrc): adjusted printWidth and added bracketSpacing
  .prettierrc
Due: prettier --write

build(package.json): added theme and search scripts
  package.json
Due: prettier --write

refactor(scripts): optimized path resolution
  scripts/search-content.ts
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

build: updated content
  i18n/content.en.json
  i18n/content.ja.json
Due: prettier --write

docs(theming): added theming section to docs
  scripts/theme-component.ts
Due: prettier --write, eslint --fix

style: simplified object notation
  scripts/theme-component.ts
Due: prettier --write, eslint --fix

feat(build): added script for component props
  package.json
Due: prettier --write

refactor: changed module system to commonjs
  next.config.js
Due: prettier --write, eslint --fix

feat(mdx): added PropsCard component and i18n entries
  components/mdx/index.tsx
  components/mdx/props-card.tsx
  i18n/ui.en.json
  i18n/ui.ja.json
Due: prettier --write, eslint --fix

feat: added script to generate component props docs
  scripts/component-props.ts
Due: prettier --write, eslint --fix

refactor(scripts): renamed lang to locale in translate-content
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

refactor(scripts): enhanced prop translation logic
  scripts/component-props.ts
Due: prettier --write, eslint --fix

feat: added Inter font and responsive meta tags
  pages/_app.page.tsx
Due: prettier --write, eslint --fix

feat(theme): added font tokens to theme config
  theme/tokens/fonts.ts
  theme/tokens/index.ts
Due: prettier --write, eslint --fix

feat(tree): added prefetch=false to links
  components/navigation/tree.tsx
Due: prettier --write, eslint --fix

docs: added Japanese issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_request.ja.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --write

docs: updated issue tracker links in templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

ci(changesets): 4e1f449941d55b527b47071ea507f3f19451a3c2
  package.json
  pnpm-lock.yaml
Due: prettier --write
