Repository yasunogithub/yamada-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: removed unnecessary text from use-theme.ja.mdx
  contents/hooks/use-theme.ja.mdx
Due: prettier --write

feat(env): added environment variables for document types
  .env.example
  .gitignore
  contentlayer.config.ts
Due: prettier --write, eslint --fix

build(package.json): updated next and devDependencies versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(changesets): bb2167cc781c0a8a37a92e7182b1ee871893ec53
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(getting-started): updated semantics in theme documentation
  contents/getting-started/basics.ja.mdx
  contents/styled-system/semantic-tokens.ja.mdx
  contents/styled-system/theming/customize-theme.ja.mdx
Due: prettier --write

refactor(style): removed unnecessary colorScheme properties
  components/layouts/header.tsx
  components/mdx/color-mode-button.tsx
  components/navigation/related-links.tsx
  contents/getting-started/advanced.ja.mdx
  contents/getting-started/basics.ja.mdx
  contents/hooks/use-boolean.ja.mdx
  contents/hooks/use-boolean.mdx
  contents/hooks/use-color-mode.ja.mdx
  contents/hooks/use-color-mode.mdx
  contents/styled-system/animation.ja.mdx
  contents/styled-system/color-mode.ja.mdx
  contents/styled-system/loading.ja.mdx
  contents/styled-system/notification.ja.mdx
  contents/styled-system/theming/default-theme.ja.mdx
  contents/styled-system/theming/switch-theme.ja.mdx
  pages/index.page.tsx
  theme/index.ts
Due: prettier --write, eslint --fix

docs(use-boolean, use-theme): updated documentation
  contents/hooks/use-boolean.ja.mdx
  contents/hooks/use-boolean.mdx
  contents/hooks/use-theme.ja.mdx
  contents/hooks/use-theme.mdx
  contents/styled-system/theming/switch-theme.ja.mdx
Due: prettier --write

fix(color-palettes): handled null colorScheme in theme
  components/mdx/color-palettes.tsx
  contents/styled-system/theming/default-theme.ja.mdx
Due: prettier --write, eslint --fix

refactor(build): moved document check to dev environment
  contentlayer.config.ts
  package.json
Due: prettier --write, eslint --fix

ci(changesets): fc62d473faa367cef2c820498f58884990ec91cd
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(getting-started): update installation and usage instructions
  contents/getting-started/index.mdx
  contents/getting-started/installation/index.mdx
  contents/getting-started/installation/individually.ja.mdx
  contents/getting-started/installation/individually.mdx
  contents/getting-started/installation/minimal.ja.mdx
  contents/getting-started/installation/minimal.mdx
Due: prettier --write

docs(community): updated community and team pages
  contents/community/index.mdx
  contents/community/team.mdx
Due: prettier --write

docs(getting-started): updated installation and framework documentation
  contents/getting-started/frameworks/index.mdx
  contents/getting-started/installation/index.mdx
  contents/getting-started/installation/individually.mdx
  contents/getting-started/installation/minimal.mdx
Due: prettier --write

docs(create-react-app): updated getting started guide
  contents/getting-started/frameworks/create-react-app.mdx
  contents/getting-started/frameworks/nextjs/app-router.mdx
  contents/getting-started/frameworks/nextjs/index.mdx
  contents/getting-started/installation/index.mdx
  contents/getting-started/installation/individually.mdx
  contents/getting-started/installation/minimal.mdx
Due: prettier --write

docs(nextjs): updated section headings and language
  contents/getting-started/frameworks/nextjs/app-router.mdx
  contents/getting-started/frameworks/nextjs/index.mdx
Due: prettier --write

feat(openai): added openai configuration
  libs/openai.ts
Due: prettier --write, eslint --fix

feat(prettier): added prettier formatting functionality
  libs/prettier.ts
Due: prettier --write, eslint --fix

build: updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(.env.example): updated environment example variables
  .env.example
Due: none

feat(scripts): added translate-content script
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

docs: updated title casing in documentation files
  contents/getting-started/advanced.mdx
  contents/styled-system/color-mode.mdx
  contents/styled-system/configure/customize-config.mdx
  contents/styled-system/configure/default-config.mdx
  contents/styled-system/global-styles.mdx
  contents/styled-system/reset-styles.mdx
  contents/styled-system/responsive-styles.mdx
  contents/styled-system/semantic-tokens.mdx
  contents/styled-system/style-props.mdx
  contents/styled-system/text-and-layer-styles.mdx
  contents/styled-system/theming/component-style.mdx
  contents/styled-system/theming/customize-theme.mdx
  contents/styled-system/theming/switch-theme.mdx
Due: prettier --write

refactor(translate-content): updated content translation method
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

style(scripts): updated spinner text display
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

docs(getting-started): updated advanced guide content
  contents/getting-started/advanced.mdx
Due: prettier --write

docs(getting-started): update basics.md with comprehensive guide
  contents/getting-started/basics.mdx
Due: prettier --write

refactor(translate-content): improved output path resolution logic
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

ci(changesets): 27a984a0800c24d803e657dc3105ae024b7ef3c2
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(utils): added wait function
  utils/assertion.ts
Due: prettier --write, eslint --fix

refactor(translate-content): improved error handling and logging
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

style(scripts): updated console log format
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

refactor(scripts): updated spinner output handling
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

feat: added english docs
  contents/styled-system/animation.mdx
  contents/styled-system/cli.mdx
  contents/styled-system/color-mode.mdx
  contents/styled-system/configure/customize-config.mdx
  contents/styled-system/configure/default-config.mdx
  contents/styled-system/configure/index.mdx
  contents/styled-system/global-styles.mdx
  contents/styled-system/gradient.mdx
  contents/styled-system/index.mdx
  contents/styled-system/loading.mdx
  contents/styled-system/notification.mdx
  contents/styled-system/reset-styles.mdx
  contents/styled-system/responsive-styles.mdx
  contents/styled-system/semantic-tokens.mdx
  contents/styled-system/style-props.mdx
  contents/styled-system/text-and-layer-styles.mdx
  contents/styled-system/theming/component-style.mdx
  contents/styled-system/theming/customize-theme.mdx
  contents/styled-system/theming/default-theme.mdx
  contents/styled-system/theming/index.mdx
  contents/styled-system/theming/switch-theme.mdx
  contents/styled-system/ui.mdx
Due: prettier --write

chore(scripts): moved 'translate' to 'gen' and added error handling
  package.json
  scripts/translate-content.ts
Due: prettier --write, eslint --fix

docs: added contributing guidelines in English and Japanese
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
